<ion-view cache-view="false" view-title='ParkSmart' class = "bar-dark">

	<div id="home">
		<ion-content>
			<form name='getInfoForm' ng-submit="getInfo(user)">
				<div id="companyName">
					{{companyName}}
				</div>

				<ion-toggle ng-model="onlineMode.checked" toggle-class="toggle-assertive"  ng-change='changeMode()' style='margin-top: 2%;'>
					Online
				</ion-toggle>
				<label class="item-input item-select">
					<div class="input-label">
						Property
					</div>
					<select ng-model="propertySelected" ng-options='propertyObject.id as propertyObject.label for propertyObject in property' ng-change='onPropertyChange(propertySelected)'>
						<option value="" style="display: none;">Select Property</option>

					</select> </label>
				<label class="item-input">
					<div class="input-label">
						Date
					</div> <label id="dateHolder">{{date}}</label> </label>
				<label class="item-input item-select">
					<div class="input-label">
						Parking Zone
					</div>
					<span ng-show='showSelected' style="margin-left: 35%">{{Selected}}</span>
					<!-- <select  ng-show="!showSelected" ng-disabled="disableParking" ng-model='parkingZoneSelected' ng-options='parkingZoneObject.id as parkingZoneObject.label for parkingZoneObject in parkingZone' ng-change='onParkingZoneChange(parkingZoneSelected)'>
						<option value="" style="display: none;" selected>Select Parking Zone</option>
						
					</select> -->
					<select id="parkingZoneDataObj">
						<option value="" selected>Select Parking Zone</option>
					</select></label>
				<div class='col2-structure'>
					<label class="item item-checkbox"> <label class="checkbox">
							<input type="radio" name="group" ng-value=true ng-model="radioBtnSelection" ng-click="reset(user)"/>
						</label> License Number </label>
					<label class="item item-input">
						<input type="text" placeholder="License Number" ng-minlength="1" ng-maxlength="7" maxlength="7" ng-model="user.licenceNumber" ng-disabled="!radioBtnSelection" ng-required="!(user.licenceNum.length || user.permitNum.length)"/>
					</label>
				</div>
				<div class="clear"></div>
				<div class='col2-structure'>
					<label class="item item-checkbox"> <label class="checkbox">
							<input type="radio" name="group" ng-value=false ng-model="radioBtnSelection" ng-click="reset(user)"/>
						</label> Permit Number </label>
					<label class="item item-input">
						<input type="text" placeholder="Permit Number" ng-minlength="1" ng-model="user.permitNumber" ng-disabled="radioBtnSelection" ng-required="!(user.licenceNum.length || user.permitNum.length)"/>
					</label>
				</div>
				<div class="clear"></div>
				<div style="text-align: center; margin-top: 5%">
					<button class="button button-assertive" ng-disabled="!getInfoForm.$valid" style="display: none">
						Submit
					</button>
				</div>

			</form>
			<div class='row tableHeader' ng-show='showHeader'>
				<div class='col col-20'>
					Parked
				</div>
				<div class='col col-40'>
					License Number
				</div>
				<div class='col col-40'>
					Permit Number
				</div>
			</div>
			<ion-item ng-repeat="record in records | filter : user.licenceNumber | filter:user.permitNumber" class='recordTable'>
				<div class='row'>
					<div class='col col-20'>
						<ion-checkbox class='parkedStatus' ng-checked="record.isParked" ng-model='record.isParked' ng-change='vehicleParked(record)'></ion-checkbox>
					</div>
					<div class='col col-40'>
						{{record.licenceNumber}}
					</div>
					<div class='col col-40'>
						{{record.permitNumber}}
					</div>
				</div>

			</ion-item>
		</ion-content>
	</div>
</ion-view>