/* Empty. Add your own CSS if you like */
#headerHolder {
	text-align: center;
}
#client_logo {
	width:100%;
	text-align: center;
}
#home {
	margin-top: 10%;
}
#companyName {
	font-family: Helvetica;
	text-align: center;
	margin-top: 5%;
	font-size: 20px;
}
.item-radio .radio-icon {
	left: 0;
	color: #e42012;
}
.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
	background-color: #C0001B;
	border-color: #C0001B;
}
.item-radio .item-content {
	padding-right: 64px;
	margin-left: 9%;
}
#dateHolder {
	webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: absolute;
	top: 0;
	right: 0;
	padding: 14px 48px 16px 16px;
	max-width: 65%;
	border: none;
	background: #fff;
	color: #333;
	text-indent: 0.01px;
	text-overflow: '';
	white-space: nowrap;
	font-size: 14px;
	cursor: pointer;
	direction: rtl;
}
.disable {
	display: none;
}
.icon_holder {

	left: 0px;
}
.item-input .icon {
	background-color: #FBFBFB;
	padding: 5%;
	min-width: 0px;
	left: 0%;
}
.item-icon-left input {
	margin-left: 30px;
}
#login {

	padding: 15%;
	color: #FF0000;
}
a {
	color: #969a9c;
}
ion-header-bar {
	background-color: #aaaaaa;
}

.button.button-assertive {
	border-color: #C0001B;
	background-color: #C0001B;
	/*border-color: #f77a21;
	background-color: #f77a21;*/
}
.button.button-assertive.active, .button.button-assertive.activated {
	border-color: #C0001B;
	background-color: #C0001B;
}
.button.button-positive {
	border-color: #C0001B;
	background-color: #C0001B;
}
.button.button-positive.active, .button.button-positive.activated {
	border-color: #C0001B;
	background-color: #C0001B;
}
.toggle.toggle-assertive input:checked + .track {
	border-color: #C0001B;
	background-color: #C0001B;
}
.item .item-checkbox {
	padding-left: 0px;
	border-width: 0px;
	background-color: #e5e7ea;
}
.item-checkbox .parkedStatus {
	padding-left: 0px;
	border-width: 0px;
}
.recordTable {
	padding: 0px;
}
.row {
	text-align: center;
	background-color: #e5e7ea;
}
.tableHeader {
	margin-top: 2%;
}
.tableHeader .col {
	background-color: #fff;
	margin-left: 1px;
}
.errror {
	color: red !important;
	text-align: center;
	margin-top: 5px;
}

.col2-structure {
	width: 100%
}
.col2-structure label {
	width: 50%;
	float: left;
	min-height: 50px;
	font-size: 11px;
}
.clear {
	clear: both;
	height: 0px;
	width: 100%;
}

html input[disabled="disabled"] {
	background-color: transparent;
}
html input[disabled="disabled"]::-webkit-input-placeholder {
	color: #eee;
}
#home input {
	text-transform: uppercase;
	font-size: 13px;
}

.item-toggle{
	border-color: transparent;
}
.title-image{
	width:22%;
}
.item-select {
	margin-bottom: 2%;
}
.item-select select {
	padding-bottom: 14px;
}
.bar.bar-stable {
	background-color: #515A5F;
}
.bar.bar-stable .title{
	color:#FFFFFF;
}
.bar-stable .button.button-clear {
	color:#FFFFFF;
}
.popup-container .popup{
	background: #ffffff !important;
}
